aiohttp==3.8.1
numpy==1.21.6
python-multipart==0.0.5
pydantic==1.8.2
fastapi==0.85.1
uvicorn[standard]==0.16.0
websockets==10.1
scikit_learn==0.23.1
soxr==0.2.7
librosa==0.8.1
onnxruntime-gpu==1.14.1
protobuf==3.20.3
tritonclient[all]==2.31.0
redis==4.5.5
